#about {
    background: #40E0D0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(-17deg,rgba(254,121,102) 5%,rgb(251,212,186) 95%);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(-17deg,rgba(254,121,102) 5%,rgb(251,212,186) 95%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: max(50rem,100vh);


    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 7%;
    text-align: center;
}

.aboutImage img{
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
}

.aboutBody{
    position: relative;
    top: 50px;
    display: grid;
    grid-template-rows: 1fr 8fr;
}

.aboutBodyTitle{
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(255, 13, 94);
    text-decoration: overline solid rgb(255, 13, 94);
}

.aboutBodyDesc{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color:navy;
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.5rem;
    padding-left: 20px;
    margin-bottom: 50px;
    border-left: 5px dotted rgb(255, 13, 94);
}

@media screen and (max-width:1500px){
    .aboutBodyDesc{
        font-size: 1.5rem;
    }
}

@media screen and (max-width:1060px){
    #about{
        grid-template-columns: 1fr;
        grid-template-rows: 4fr 1fr 4fr;
    }
    .aboutBodyTitle{
        order: 0;
    }
    .aboutImage{
        order:1;
    }
    .aboutImage img{
        width: auto;
        height: 80%;
    }
    .aboutBodyDesc{
        order:3;
        border:none;
        padding: 0;
        margin: 0;
    }
}

@media screen and (max-width:740px){
    .aboutBodyDesc{
        line-height: 1.7rem;
    }
}

@media screen and (max-width:490px){
    #about{
        grid-template-rows: 0.5fr 3fr 5fr;
        height: fit-content;
    }
}
